appdirs==1.4.4
asgiref==3.6.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
branca==0.6.0
bs4==0.0.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.1.0
colorama==0.4.6
cryptography==42.0.2
cssselect==1.2.0
Django==4.1.9
djangorestframework==3.15.1
fake-useragent==1.5.1
folium==0.14.0
haversine==2.8.0
idna==3.4
importlib_metadata==7.1.0
Jinja2==3.1.2
lxml==5.1.1
MarkupSafe==2.1.2
mssql-django==1.2
numpy==1.24.3
paramiko==3.4.0
parse==1.20.1
pycparser==2.21
pyee==8.2.2
PyNaCl==1.5.0
pyodbc==4.0.39
pyppeteer==1.0.0
pyquery==2.0.0
pytz==2023.3
requests==2.28.2
requests-html==0.10.0
soupsieve==2.5
sqlparse==0.4.4
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2023.3
urllib3==1.26.15
w3lib==2.1.2
websockets==10.4
zipp==3.18.1
